
 
.hero-carrusel {
    position: relative;
    height: 25vh;
    width: 100%;
    background-color: black;
    margin-bottom: 10px;
}

.carrusel {
    flex: 0 0 100%;
    background-image: url(https://lh3.googleusercontent.com/p/AF1QipOqQOtlMUrTnH2dlwifgQxxdxpiSGqw7MNKmRpH=s1360-w1360-h1020);
    background-size: cover;
    background-position: center;
    transition: opacity 1s ease-in-out;
    opacity: 1;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    opacity: 1;
}

.titulo-akademia {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    text-align: center;
    color:goldenrod;
    font-size: 1.5rem;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}
.main-akademia {
    display: flex;
    flex-direction: column;
    gap: 2rem; 
    padding: 1rem; 
    height: auto;
}
 

/* Fila */
.fila {
    display: flex;
    align-items: center;
    gap: 2rem; 
}

.fila.inversa {
    flex-direction: row-reverse; 
}

/* Imagen */
.imagen img {
    width: 100%;
    max-width: 300px; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

/* Texto */
.texto {
    flex: 1; 
}

.texto h2 {
    font-size: 2rem;
    color: goldenrod;
    margin-bottom: 1rem;
}

.texto p {
    font-size: 1rem;
    color:goldenrod;
    line-height: 1.6;
}

