.hero-carrusel {
    position: relative;
    height: 50vh;
    width: 100%;
    overflow: hidden;
    border-radius: 20px;
    background-color: black;
    margin-bottom: 10px;
}

.carrusel {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
   animation: slide-animation 15s infinite;
}

.slide {
    flex: 0 0 100%;
    background-image: url(img/salonkupula.jpg);
    background-size: cover;
    background-position: center;
    transition: opacity 1s ease-in-out;
    opacity: 0;
}

.slide.active {
    opacity: 1;
}

.titulo-akademia {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    text-align: center;
    color:goldenrod;
    font-size: 2.5rem;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}
.main-akademia {
    display: flex;
    flex-direction: column;
    gap: 2rem; /* Espaciado entre filas */
    padding: 2rem; /* Espaciado interior */
}

/* Fila */
.fila {
    display: flex;
    align-items: center;
    gap: 2rem; /* Espacio entre imagen y texto */
}

.fila.inversa {
    flex-direction: row-reverse; /* Invierte el orden */
}

/* Imagen */
.imagen img {
    width: 100%;
    max-width: 300px; /* Tamaño máximo de la imagen */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
}

/* Texto */
.texto {
    flex: 1; /* Ocupa el resto del espacio */
}

.texto h2 {
    font-size: 2rem;
    color: goldenrod;
    margin-bottom: 1rem;
}

.texto p {
    font-size: 1rem;
    color:goldenrod;
    line-height: 1.6;
}
.social-icons {
    display: flex;
    gap: 10px;
}

.social-icons a img {
    width: 40px; 
    height: 40px;
    transition: transform 0.3s ease, opacity 0.3s ease;
    margin-left: 100px;
    margin-top: 40px;
    border-radius: 5px;
}

.social-icons a:hover img {
    transform: scale(1.2); 
    opacity: 0.8; 
}
