akademia.css
 main {
padding: 0;
margin: 0;
}

.container {
    display: flex;
    flex-direction:row;
    align-items: start;
}
.contacto {
    background-color:rgb(23, 23, 23);
    border-radius: 10px;
}

.texto-interno {
    text-align: center;
   color: goldenrod;
}

.texto-interno h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: goldenrod;

}

.texto-interno p {
    font-size: 1rem;
    line-height: 1.6;
    color:goldenrod;
    margin-bottom: 20px;
    width: 50%;
    margin-left: 18rem;

}

.imagen-entrada {
    width: 200x;
    height: 200px;
    border-radius: 8px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.mapa {
display: flex;
justify-content: center;
align-items: center;
margin-top: 20px;

}

.mapa iframe {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.social-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.social-icons a img {
    width: 40px; 
    height: 40px;
    transition: transform 0.3s ease, opacity 0.3s ease;
  
    margin-top: 40px;
    border-radius: 5px;
}

.social-icons a:hover img {
    transform: scale(1.2); 
    opacity: 0.8; 
}

 .formulario {
     border-radius: 3rem;
     padding: 1rem;
     display: flex;
     flex-wrap: nowrap;
     flex-direction: column;
     width: 60%;
    }
    section.formulario h2{
        font-size: 2rem;
        margin:15px 20px;
        color: goldenrod;
     }
    section.formulario p {
        font-size: 1rem;
        line-height: 1.6;
        color:goldenrod;
        margin-bottom: 20px;
        width: 50%;
       
  }
 .formulario form {
     display: flex;
     flex-direction: column;
     margin: 0.5rem 0 0;
 }
 
 .formulario label {
     font-size: 1.5rem;
     color: var(--goldenrod);
 }
 
 .formulario input {
   font-size: 1.2rem;
   color: var(--goldenrod);
   padding: 1rem;
   margin: 0.5rem 0;
 }
 
 .formulario textarea {
     height: 50px; 
     padding: 1rem;
     font-size: 1.2rem;
     margin: 0.5rem 0;
     color: var(--goldenrod);
 }
 
 .button {
     margin: 2rem 0 0;
     background-color: goldenrod; 
     color: black;
     font-size: 1.5rem;
     border-radius: 15px;
     cursor: pointer;
 }
 
 .button:hover {
     margin: 2rem 0 0;
     background-color: goldenrod;
     cursor: pointer;
     color: greenyellow; 
     font-size: 2rem;
 }