
.login-container {
  position: relative;
}

.login-icon {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}

.login-icon img {
  width: 50px;
  height: 50px;
  border-radius: 15px;
}

.login-form {
  position: absolute;
  top: 50px;
  right: 0;
  background: #272727;
  border: 1px solid #ccc;
  padding: 15px;
  color: goldenrod;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 250px;
}

.hidden {
  display: none;
}

.login-form h2 {
  margin-top: 0;
}

.login-form label {
  display: block;
  margin: 10px 0 5px;
}

.login-form input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.login-form button {
  width: 100%;
  padding: 10px;
  background-color: goldenrod;
  border: none;
  color: black;
  border-radius: 3px;
  cursor: pointer;
}

.login-form button:hover {
  background-color: gold;
}

.titulo-cursos {
  font-size: 2rem;
  font-style: bold;
  color: goldenrod;
}

.cards-container-alumnos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 5rem 0;
  width: 100%;
  overflow: hidden;
}

.card-alumnos {
  border: 1px solid goldenrod;
  border-radius: 2rem;
  max-width: 30rem;
  min-width: 20rem;
  width: 18%;
  padding: 1rem;
  text-align: center;
  background-color: rgba(46, 46, 46, 0.445);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 1rem;
}

.card-alumnos:hover {
  transform: translateY(-15px);
  box-shadow: 0 10px 20px goldenrod (0, 0, 0, 0.25);
}

.card-alumnos img {
  border-radius: 2rem;
  width: 100%;
  box-shadow: goldenrod;
}

.card-alumnos h3 {
  margin-top: 0.6px;
  font-size: 1.5em;
  color: gold;
}

.card-alumnos p {
  font-size: 1.1rem;
  text-align: center;
  color: gold;
  margin-bottom: 10px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  border: 3px gold;
  background-color: black;
  color: goldenrod;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  color: yellow;
}

/* Estilo para tablet */
@media only screen and (max-width: 1500px) and (min-width: 768px) {
  .cards-container-alumnos {
    display: grid; 
    grid-template-columns: repeat(2, 1fr); 
    gap: 1rem; 
    max-height: 80vh;
    overflow-y: auto; 
    padding: 1rem; 
  }

  .cards-container-alumnos::-webkit-scrollbar {
    width: 10px; 
  }

  .cards-container-alumnos::-webkit-scrollbar-thumb {
    background-color: goldenrod; 
    border-radius: 10px; /
  }

  .cards-container-alumnos::-webkit-scrollbar-track {
    background-color: #272727; 
  }

  .card-alumnos {
    flex: none; 
    width: 100%; 
  margin-left: 30px;
  }
}

/* Estilo para móvil */
@media only screen and (max-width: 768px) {
  .cards-container-alumnos {
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;
    flex-wrap: nowrap; 
    max-height: 80vh; 
    overflow-y: auto; 
    gap: 1rem;
    padding: 1rem; 
  }

  .cards-container-alumnos::-webkit-scrollbar {
    width: 10px; 
  }

  .cards-container-alumnos::-webkit-scrollbar-thumb {
    background-color: goldenrod; 
    border-radius: 10px; 
  }

  .cards-container-alumnos::-webkit-scrollbar-track {
    background-color: #272727; 
  }

  .card-alumnos {
    flex: none; 
    width: 100%; 
    margin-left: 30px;
  }
}