
main {
  display: flex;
  flex-direction: column;
  align-items: center; 
  height: 100vh; 
}
.titulo-cursos {
  font-size: 1.5rem;
  font-style: bold;
  color: goldenrod;

}

.cards-container-alumnos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 5rem 0;
  width: 100%;
  overflow: hidden;
  gap:10px;
}

.card-alumnos {
  border: 1px solid goldenrod;
  border-radius: 2rem;
  max-width: 30rem;
  min-width: 20rem;
  width: 15%;
  padding: 1rem;
  text-align: center;
  background-color: rgba(46, 46, 46, 0.445);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 1rem;
}

.card-alumnos:hover {
  transform: translateY(-15px);
  box-shadow: 0 10px 20px goldenrod (0, 0, 0, 0.25);
}

.card-alumnos img {
  border-radius: 2rem;
  width: 100%;
  box-shadow: goldenrod;
}

.card-alumnos h3 {
  margin-top: 0.6px;
  font-size: 1.5em;
  color: gold;
}

.card-alumnos p {
  font-size: 1rem;
  text-align: center;
  color: gold;
  margin-bottom: 10px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  border: 3px gold;
  background-color: black;
  color: goldenrod;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  color: yellow;
}


/* -------- RESPONSIVE -------- */

/* Tablets */
@media (max-width: 1024px) {
  .cards-container-alumnos {
      grid-template-columns: repeat(auto-fit, minmax(10px, 1fr)); /* Reduce el tamaño de las cards */
  }

  .card-alumnos {
      padding: 12px;
  }
}

/* Móviles */
@media (max-width: 768px) {
  .cards-container-alumnos {
      grid-template-columns: 1fr; /* 1 sola columna en móviles */
  }

  .card-alumnos {
      max-width: 90%;
      margin: auto;
  }

  .button {
      width: 100%; /* Botón ocupa todo el ancho en móviles */
  }
}