/* Estilos Generales*/


 /* CSS HEX */
:root {
  --goldenrod: goldenrod;
  --black: black;
  --blacklight: rgb(23, 23, 23);
  --meentlight:rgb(96, 159, 96);
   }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
 .montserrat-uniquifier> {
      font-family: "Montserrat", sans-serif;
      font-optical-sizing: auto;
      font-weight:"";
      font-style: normal;
    }

  /* ---- Barra de navegacion ---- */
  .header {
    width: 100%;
    height: 220px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(23, 23, 23);
    color: goldenrod;
    padding: 20px;
}

.logo {
    width: 200px; 
    height: 200px;
    border-radius: 20px;
    margin: 50px;
   box-sizing: border-box;
   box-shadow: -3px 3px 3px;
   color: goldenrod;
}
.imagen {
   width: 200px; 
   height: 200px;
   border-radius: 30px;
   margin: 50px;
   box-sizing: border-box;
   box-shadow: 4px 4px;
   color: goldenrod;
}
.titulo_container {
    text-align: center; 
    flex: 1; 
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
}

.titulo-p {
    font-size: 20px;
    margin: 5px 0; 
}

.titulo {
    font-size: 3rem;
    margin: 0;
}

.btn {
  cursor: pointer;
  text-decoration: none;
  position: relative;
  padding: 10px 24px;
  font-size: 18px;
  color:goldenrod;
  border: 2px solid goldenrod;
  border-radius: 34px;
  background-color: transparent;
  font-weight: 600;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
  overflow: hidden;
}

.btn:before {
  content: '';
  position: absolute;
  inset: 0;
  margin: auto;
  width: 50px;
  height: 50px;
  border-radius: inherit;
  scale: 0;
  z-index: -1;
  background-color: gold;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.btn:hover::before {
  scale: 3;
}

.btn:hover {
  color: #212121;
  scale: 1.1;
  box-shadow: 0 0px 20px rgba(193, 163, 98,0.4);
}

.btn:active {
  scale: 1;
}


.form {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 500px;
  flex-direction: column;
  margin-bottom: 10px;
  gap: 10px;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 0.4em;
  background-color: #171717;
  border-radius: 25px;
  transition: .4s ease-in-out;
}

.form:hover {
  transform: scale(1.05);
  border: 3px solid goldenrod;
}

#heading {
  text-align: center;
  margin: 2em;
  color:gold;
  font-size: 1.2em;

}

.field {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  border-radius: 25px;
  padding: 0.6em;
  border: none;
  outline: none;
  color: gold;
  background-color: #171717;
  box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
}

.input-icon {
  height: 1.3em;
  width: 1.3em;
  fill: gold;
}

.input-field {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  color: gold;
}

.form .btn {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 2.5em;
}

.button1 {
  padding: 0.5em;
  padding-left: 1.1em;
  padding-right: 1.1em;
  border-radius: 5px;
  margin-right: 0.5em;
  border: none;
  outline: none;
  transition: .4s ease-in-out;
  background-color: #252525;
  color: gold;
}

.button1:hover {
  background-color: goldenrod;
  color: black;
}

.button2 {
  padding: 0.5em;
  padding-left: 2.3em;
  padding-right: 2.3em;
  border-radius: 5px;
  border: none;
  outline: none;
  transition: .4s ease-in-out;
  background-color: #252525;
  color: gold;
}

.button2:hover {
  background-color: goldenrod;
  color: black;
}

.button3 {
  margin-bottom: 3em;
  padding: 0.5em;
  border-radius: 5px;
  border: none;
  outline: none;
  transition: .4s ease-in-out;
  background-color: #252525;
  color: gold;
}

.button3:hover {
  background-color: goldenrod;
  color: black;
}

.navbar {
    width: 100%;
    height:auto;
    display:flex;
    justify-content: space-evenly;
    padding:5px;
    background-color:rgb(23, 23, 23);
    margin: 5px;
    }
.menu {
    list-style-type:none;
   display: flex;
   gap: 25px;
   cursor: pointer;
   transition: color 0.3s;
  }

.menu li {
   margin: auto;
   padding: 5px 5px;
   font-size: 20px;
   background-color:rgba(26, 26, 26, 0.729);
   border-radius: 5px; 
   cursor: pointer; 
   transition: 0.3s ease;
  }

.menu a {
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  padding: 0.7em 2em;
  border: 3px solid gold;
  border-radius: 2px;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
  color:goldenrod;
  text-decoration: none;
  transition: 0.3s ease all;
  z-index: 1;} 

.menu a:hover {
 color:gold;
 }
  .menu a :before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: goldenrod;
    z-index: -1;
  }
  
 .menu a :hover, button:focus {
    color: gold;
  }
  
 .menu a :hover:before, menu a:focus:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
  }
  
 .menu a active {
    transform: scale(0.9);
  }
  .next-button {margin-top: 30px;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    padding: 0.7em 2em;
    border: 3px solid goldenrod;
    border-radius: 2px;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
    color:gold;
    text-decoration: none;
    transition: 0.3s ease all;
    z-index: 1;} 

    .next-button:hover,next-button:focus {
      color: gold;
      transform: translateY(-5px);
    }
  
  
/* Opcional: Mostrar el menú para pantallas más grandes */
@media (min-width: 360px) {
    .menu {
        display: flex;
        flex-direction: row;
    }
    .menu li {
        margin: 0 10px;
    }
  
}
  
  /* ---- Fin barra navegacion---- */


 

  main {
   background-color:rgb(23, 23, 23);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin-bottom: 10px;
 }
.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 15px; 
  }

.image-grid img {
    width: 100%; 
    height: auto;
    border-radius: 8px; 
    object-fit: cover; 
   }


  /*Footer*/

footer {
  background-color:rgb(23, 23, 23);
  color:goldenrod;
  font-size: 16px;
 
}

.footer-content{
   display: flex;
   justify-content: space-around;
   padding: 2rem;
   align-items: center;
  }

.footer-section img{
    border-radius: 10px;
    width: 6rem;

     
}

.footer-section a {
  color:goldenrod;
  text-decoration: none;

}

.footer-section h3{
    margin-bottom: 10px;
    font-size: 16px;
    
}

.footer-section h5{
  color:goldenrod;
  
}

.footer-section ul{
   list-style: none;
   padding: 0;
   color:goldenrod;
   
}

.footer-section ul li{
     margin: 6px;
     color:goldenrod;  
    }

.footer { 
  position: absolute; 
  bottom: 0; 
  left: 0; 
 }

.footer-bottom {
   text-align: center;
   padding: 0.5rem;
   font-size: 10px;
  }
.footer-bottom img {
  border-radius: 7px;
}
.footer-bottom > p {
  text-align: center;
  margin: 0 auto;

}
/* fin de Footer*/